<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SmokeSuite">
  <test thread-count="5" name="SmokTest">
    <classes>
      <class name="com.mavenproject.SampleMavenProj.AmzonUsingTestNg"/>
      <class name="com.mavenproject.SampleMavenProj.HDFCUsingTestNg"/>
    </classes>
  </test> <!-- SmokTest -->
</suite> <!-- SmokeSuite -->
